.btn-book{
    background-color: green;
    border-radius: 5px;
    font-weight: bold;
    opacity: 1;
}
.btn-book:hover{
    color: white;
    background-color: grey;
    opacity: 0.7;
}

.navbar {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-auto-flow: column; 
}

#navbarSupportedContent {

}

.div-navbar-spacing {
    display:flex 
}

.nav-item {
  padding: 0px 20px;