<div class="container">
  <h1>My rents (past & current)</h1>
</div>

<div class="container">
  <div class="row pb-5 mb-4">

      <% @rents.each do |rent| %>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="card rounded shadow-sm border-1 mt-3">
            <div class="card-body p-4">
            <% equipment = @equipments.where(id: rent.equipment_id) %>
            <%= equipment.first.title %><br>
            <b>Start date:</b> <%= rent.start_date %><br>
            <b>End date:</b> <%= rent.end_date %><br>
            <div class="btn btn-info" style='margin: 0px 0px 40px 0px;'>
              <%= link_to 'Show', user_rent_path(user_id: current_user.id, id:rent.id) %></>
              </div>
      <% end %>
  </div>
</div>
    <% # raise %>
  </div>
</div>