<div>
  <h1>Those are you past and current rents!</h1>
</div>

<ul>
  <% @rents.each do |rent| %>
    <% equipment = @equipments.where(id: rent.equipment_id) %>
    <li><%= equipment.first.title %> - From: <%= rent.start_date %> - To: <%= rent.end_date %> - <%= link_to 'Show', user_rent_path(user_id: current_user.id, id:rent.id) %></li>
  <% end %>
</ul>