<div class="container">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="card">
  <%= link_to "Add a new equipment", new_equipment_path, class: "btn btn-primary" %>
</div>

