<div class="container-fluid">
    <h1>Sport@Home</h1>
    <p>Join us and train yourself</p>
</div>

<div class="card-louer">
  <img src="joshua-jordan-ZfiV8EgglsY-unsplash (1).jpg"
</div>

<div class="card-proposer">
  <img src="sven-mieke-jO6vBWX9h9Y-unsplash.jpg
</div>


