<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Sport At Home</strong></h1>
    <p>Rent your sport equipments easily and for a cheap price !</p>
    <a class="btn btn-flat" href="/equipments">Find your equipments now!</a>
  </div>
</div>

<div class="card-louer">
  <img src="joshua-jordan-ZfiV8EgglsY-unsplash (1).jpg"
</div>

<div class="card-proposer">
  <img src="sven-mieke-jO6vBWX9h9Y-unsplash.jpg
</div>


